.label {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 72px;
}
.placeholder {
    position: absolute;
    left: 12px;
    top: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #A7A7A7;
    transition: all 0.5s;
    opacity: 1;
}
.input:placeholder-shown ~ .placeholder {
    opacity: 0;
}
.input:placeholder-shown {
    padding: 0 0 0 12px;
}

.input {
    width: 416px;
    height: 56px;
    background: #F9F9FA;
    border-radius: 4px;
    border: none;
    outline: none;
    border-bottom: 2px solid #F42C4F;
    padding: 15px 0 0 12px;
    transition: padding 0.5s;
}
.input__border_without_error {
    border-bottom: 2px solid #BFC4C9;
}

.message_error_default {
    padding: 0 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #A7A7A7;
    mix-blend-mode: normal;
}
.message_error_active {
    color: #F42C4F;
}
.password_check_icon {
    position: absolute;
    top: 17.5px;
    left: 350px;
}
.btn_hide {
    background: none;
    border: none;
    position: absolute;
    top: 14px;
    left: 370px;
}

@media screen and (max-width: 528px) {
    .label {
        height: 88px;
    }
    .input {
        width: 256px;
    }
    .password_check_icon {
        left:196px;
    }
    .btn_hide {
        left: 219px;
    }
}