.swiper.swiper__thumbs {
    padding-top: 16px;
}

.swiper__thumbs .swiper-slide {
    opacity: 0.3;
}

.swiper__thumbs .swiper-slide-thumb-active {
    opacity: 1;
    border: 1px solid red;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: rgba(54, 54, 54, 1);
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
        padding-bottom: 50px;
    }
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        top: 215px;
    }
}

@media screen and (max-width: 768px) {
    .swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
        padding-bottom: 50px;
    }
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        top: 279px;
    }
    .swiper-pagination .swiper-pagination-bullet {
        width: 7px;
        height: 7px;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        width: 9px;
        height: 9px;
    }
}