.wrapper {
    top: 64px;
    position: fixed;
    width: 100%;
    max-width: 1110px;
    z-index: 4;
}
.content {
    position: absolute;
    border-radius: 5px;
    padding: 0 33px 0 36px;
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: space-between;
    width: 99%;
}
.content_error {
    background: rgba(254, 235, 234, 1);
    border: 1px solid rgba(244, 44, 79, 1);
}
.content_success {
    background: rgba(235, 249, 241, 1);
    border: 1px solid rgba(0, 202, 113, 1);
}
.message {
    display: flex;
    align-items: center;
    gap: 28px;
}
.close_icon {
    background: none;
    border: none;
}